.menu {
	padding-block: 20px;

	.rdp {
		background-color: $text;
		width: 100%;
		display: flex;
		justify-content: center;
		font-family: Helvetica;
		border-radius: 5px;
		margin: 0;

		@include desktop {
			width: max-content;
		}

		.rdp-button:hover:not([disabled]):not(.rdp-day_selected), .rdp-day_selected, .rdp-day_selected:focus-visible, .rdp-day_selected:hover {
			background-color: $hover;
			color: $text;
		}
	}
}